//  100 200 300 400 500 600 700 800 900
$color-lightblue: #b9ede6;
$color-lightestblue: #fbfbfb;
$color-darkblue: #008774;
$white: #fff;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.contact {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 5rem;
  height: 125vh;
  background-image: url(../../images/contactbg.png);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;

  &-firsthalf {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    height: 50%;
    // background-color: red;
    padding-bottom: 100px;
    &-1 {
      width: 45%;
      margin-top: -5%;
      h3 {
        font-size: 30%;
        color: #b3b3b3;
        font-weight: 400;
      }
      h1 {
        color: #068472;
        font-weight: 700;
        font-size: 55%;
      }
    }
    &-2 {
      display: flex;
      justify-content: center;
      width: 55%;
      height: 165%;
      border-radius: 8px;
      padding-top: 50px;
      background-color: $color-lightestblue;
      border: 2px solid #e5f9f6;

      .part {
        width: 70%;
        // background-color: pink;
        height: 85%;
        h2 {
          margin-left: -30px;
          font-weight: 500;
          font-size: 40%;
          color: #068472;
          margin-bottom: 5%;
        }
        &-form {
          width: 100%;
          //   flex-wrap: wrap;
          height: 100%;
          display: flex;
          margin-top: 10%;
          justify-content: center;
          flex-direction: column;
          #submit {
            background-color: $color-darkblue;
            // width: 40%;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 10%;
            margin-bottom: 10%;

            padding: 10px 20px;
          }
        }
        &-small {
          display: flex;
          flex-direction: column;
          padding: 15px;
          padding-left: 0;
          #input {
            outline: none;
            font-size: 22%;
            padding: 2%;
            border: none;
            border-bottom: 1.5px solid black;
            background: #0000;
            font-weight: 600;
          }

          textarea {
            height: 50px;
          }

          label {
            font-size: 18%;
          }
        }
      }
    }
  }

  &-secondhalf {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    // background-color: rgba(255, 0, 0, 0.466);
    margin-top: 10.5%;
    &-part {
      width: 15%;
      background-color: $white;
      padding: 20px 40px;
      flex-wrap: wrap;
      text-align: center;
      border: 2px solid rgba(0, 142, 122, 0.5);
      border-radius: 6px;
      h1 {
        font-size: 20%;
        font-weight: 500;
        color: #b3b3b3;
      }
      p {
        font-weight: 300;
        margin-top: 7px;
        font-size: 17%;
      }
    }
  }
}

@media (max-width: 1300px) {
  .contact {
    &-secondhalf {
      &-part {
        width: 20%;
      }
    }
  }
}

@media (max-width: 1100px) {
  .contact {
    font-size: 4rem;
    &-firsthalf {
      width: 80%;

      &-1 {
        margin-top: 2%;
      }

      &-2 {
        .part {
          padding-left: 40px;
          padding-right: 40px;
          width: 100%;
        }
      }
    }

    &-secondhalf {
      &-part {
        width: 25%;
      }
    }
  }
}

@media (max-width: 730px) {
  .contact {
    &-firsthalf {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 250px;
      gap: 30px;
      &-1 {
        text-align: center;
      }
      &-2 {
        width: 80%;
        .part {
          width: 100%;
          h2 {
            text-align: center;
          }
        }
      }
    }

    &-secondhalf {
      // flex-direction: column;
      margin-top: 100px;
      flex-wrap: wrap;
      gap: 15px;
      &-part {
        width: 43%;
      }
    }
  }
}
